*~
*.pyc
*.so
*.o
okta_openvpn
venv/
.DS_Store
cover/
.coverage
okta_openvpn.ini

# Temporary testing files
testing/fixtures/validator/valid_control_file
testing/fixtures/validator/invalid_control_file
