*~
*.pyc
*.so
*.o
venv/
.DS_Store
build/
okta_openvpn.ini
api.ini
.dccache

# Temporary testing files
testing/fixtures/validator/valid_control_file
testing/fixtures/validator/invalid_control_file
testing/fixtures/validator/control_file
