*~
*.pyc
*.so
*.o
okta_openvpn
venv/
.DS_Store
cover/
.coverage
okta_openvpn.ini
cover.out
cover-badge.out
coverage.html
.dccache

# Temporary testing files
testing/fixtures/validator/valid_control_file
testing/fixtures/validator/invalid_control_file
testing/fixtures/validator/control_file
