#!/usr/bin/make -f
# -*- makefile -*-
#
export DH_VERBOSE=1

USERNAME := $(shell echo $$USER)
GOLDFLAGS := -ldflags '-extldflags "-static"'
GOFLAGS := -buildmode=pie  -mod=vendor -a $(GOLDFLAGS)

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

ifeq ($(USERNAME), abuild)
override_dh_auto_configure:
	tar xf ../SOURCES/vendor.tar.gz

override_dh_auto_build:
	make all

override_dh_auto_install:
	make install PLUGIN_PREFIX=/usr/lib/$(DEB_HOST_MULTIARCH)/openvpn

override_dh_auto_test:
endif
